.container {
    max-width: 730px;
}

#content {
	padding-top: 50px;
}

.left-btn {
    float: left;
}

.glyph {
    padding-left: 8px;
    font-size: 1.2em;
    color: #888;
}

.glyph:hover {
    color: #444;
}

b {
    font-size: 1.5em;
}
