.container {
    max-width: 1000px;
}

#content {
	padding-top: 50px;
}

#error {
    padding-top: 20px;
}

.box-art {
    float: left;
    margin-right: 20px
}

.media-control {
    margin-top: 10px;
    height: 35px;
}

.btn-play {
    float: left;
    margin-right: 5px;
    height: 35px;
}

.btn-pause {
    float: left;
    margin-right: 5px;
    height: 35px;
}

.progress {
    height: 35px;
}

.panel {
    background-color: #EEE;
}

.bio-image {
    max-width: 100%;
    padding-bottom: 20px;
}

.similartist-image {
    max-width: 90%;
    padding-top: 20px;
}

.similartist-column {
    width: 50%;
}

.float-left {
    float: left;
}

.float-right {
    float: right;
}

.glyph {
    padding-left: 8px;
    font-size: 0.8em;
    color: #888;
}

.glyph:hover {
    color: #444;
}
