
/*#search-section{
	background-image:url(http://thenextweb.com/wp-content/blogs.dir/1/files/2013/11/concert-audience.jpg);
}*/
html, body{
		height: 100%;
		width: 100%;
}
#page-title{
	color:#655643;
}

/*transparent Navbar*/
/*#navBar{
	margin: 0;
	background-color:rgba(254,252,200,0);
	border-color:rgba(254,252,200,0);

}
#brand-name{
	color:#655643;
}
#brand-name:hover{
	color:#564939;
}
#navbar-1 ul li a{
	color:#655643;
}
#navbar-1 ul li a:hover{
	color:#564939;
}
#navBar:hover{
	background-color:rgba(223,223,233,1);
}
.shrink{
	background-color:rgba(223,223,233,1);;
}*/
#top{
		display: table;
		position: relative;
		background: url(http://thenextweb.com/wp-content/blogs.dir/1/files/2013/11/concert-audience.jpg); no-repeat center center scroll;
		height: 100%;
		width: 100%;
		background-size: cover;
		top:0;
		bottom: 0;
}

#page-title{
	text-align:center;
	height:225px;
	padding:0 40px;
}

#page-title h1 {
	font-size: 60px;
	position: relative;
	top: 50px;
	padding-bottom: 20px;
}

#page-title h4 {
	position: relative;
	top:20px;
}

#simpleValue{
	font-size:14px;
}
#show_advanced_search{
	color:#777;
}

#show_advanced_search:hover{
	color:#323232;
}
#search_slide {
	background-color: rgba(241,241,241,0.9);
	float: left;
	position: absolute;
	top: 20px;
	padding: 15px;
	border-radius: 7px;
	display:none;
}

#advanced-search-link{
	padding-top:10px;

}

.advanced-search-items{
	padding:5px 8px;
}

#advanced_search {
	display: none;
	background-color: rgba(241,241,241,0.9);
	border-radius: 7px;
	padding: 15px;
}

#down_arrow {
	position: absolute;
	bottom: 10px;
}

#down_arrow img {
	position: relative;
	left: 65px;
}

#hotness_level {
	width: 55px;
	margin-right: 5px;
}


#hotness_slider {
	width: 300px;
	margin: 10px;
}

#hotness_slider .ui-slider-range {
	background: #5bc0de;
}

#hotness_slider .ui-slider-handle {
	background: #f1f1f1;
}

#dance_range {
	width: 85px;
	margin-right: 5px;
}

#dance_slider {
	width: 300px;
	margin:10px;
}

#dance_slider .ui-slider-range {
	background: #5bc0de;
}

#dance_slider .ui-slider-handle {
	background: #f1f1f1;
}

#year_range {
	width: 85px;
	margin-right: 5px;
}

#year_slider {
	width: 300px;
	margin:10px;
}

#year_slider .ui-slider-range {
	background: #5bc0de;
}

#year_slider .ui-slider-handle {
	background: #f1f1f1;
}

#help_modal {
	margin: 25px;
}

#results{
	width: 100%;
	margin-right: 0;
	margin-left: 0;
}

#SearchResults{
		height: 100%;
		width: 100%;
		top:40px;
		bottom: 0;
		padding-top: 40px;
}

.imageFrame{
	height:200px;
	overflow:hidden;
}

figure img {
	-webkit-transform: scale(1);
	transform: scale(1);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
	cursor: pointer;
	cursor: hand;
}
figure:hover img {
	-webkit-transform: scale(1.2);
	transform: scale(1.2);
}

#advancedSearchFooter{
	text-align:right;
}

#playlistName{
  font-size:14px;
  padding:10px 10px 10px 5px;
  display:inline-block;
  width:60%;
  border:none;
  border-bottom:1px solid #b9b9b9;
  margin-bottom: 20px;
}
#modalBody form{
	text-align:center;
}
#name-playlist-span{
	padding-right:20px;
}


input:focus{
	outline:none;
}


#playlist_options_form {
	display: none;
	background-color: #f1f1f1;
	margin: 25px;
	padding: 15px;
	border-radius: 7px;
}

#playlist_options_form h3 {
	margin: 0;
}

#playlist_options_form #x {
	position: relative;
	left: 490px;
	bottom: 25px;
}

#artists, #songs{
	padding-bottom: 30px;
	padding-top: 30px;
}

#feature-playlist, #genre-playlist{
	text-align:center;
	padding-top:70px;

}
#feature-playlist button, #genre-playlist button{
	height:70px;
	background-color: rgba(101,86,67,0.7);

}
#feature-playlist button p, #genre-playlist button p{
	color:#f4ffd9;
}

/*#intro2{
	text-align:center;
}*/

#intro-help div{
	padding-top:100px;
	text-align:center;
}
#intro-help img{
	width:70px;
}
#intro-help-2 h4 {
	padding-top:10px;
	text-align:center;
	padding-bottom:100px;
}
#intro1, #intro1-2{
	padding-left:140px;
	padding-right:55px;
}
#intro3, #intro3-2{
	padding-right:140px;
	padding-left:55px;
}
#intro2,#intro2-2{
	padding-right:98px;
	padding-left:97px;
}
#help-info{
	background-color:rgba(246,247,189,0.4);
	text-align:center;
	color:#655643;
	height:90%;
}
#help-info-title{
	padding-top:70px;
}
#footer-below {
    padding: 25px 0;
    padding-top: 25px;
    padding-right: 0px;
    padding-bottom: 25px;
    padding-left: 0px;
    background-color: rgba(101,86,67,1);
    color:#f4ffd9;
    text-align:center;
    height:10%;
}

.float-left {
	float: left;
}

/*#help-info h3{
	border:none;
  	border-bottom:1px solid #757575;
  	margin-bottom: 20px;
  	width:300px;
  	position:;
}*/

#help_modal img{
	width:32px;
	display:inline-block;
	padding-top: 20px; 
	padding-left:5px;
}

/*#help-modal-items{
	text-align:center;
}*/

/*myplaylists page*/
.playlist-items a{
	color:#655643;
}

.playlist-items a:hover{
	color:#463c2e;
}

#my-playlist-title{
	color:#463c2e;
}
/*#MyPlaylistsPage{
	background-color:rgba(246,247,189,0.4);
}*/
/*.music-panel-items{
	background-color:rgba(246,247,189,0.4);
}*/
#playlist h2{
	color:#463c2e;
}
#extras-title h2{
	color:#463c2e;
}
#extras-bio h4{
	color:#463c2e;
}
#extras-bio p{
	color:#463c2e;
}
#extras-similartists h4{
	color:#463c2e;
}
/*.music-panel-items{
	background-color:rgba(101,86,67,1);
}*/
.similar a p b{
	color:#655643;
}
.similar a p b:hover{
	color:#463c2e;
}
#extras-twitter p a{
	color:#655643;
}
#extras-twitter p a:hover{
	color:#463c2e;
}